<header id="site-header">
	<div id="site-header-logo">
		<a href="{{ site.Home.Permalink }}">
			<img height="40px" src="{{ "logo.svg" | absURL }}" alt="Site Logo">
		</a>
	</div>

	<div id="site-header-actions">
		<div id="search-box">
			<pagefind-modal-trigger compact="true"></pagefind-modal-trigger>
			<pagefind-modal></pagefind-modal>
		</div>

		{{ partial "components/theme-dropdown.html" . }}

		<a id="repo-main" aria-label="Repository URL" href="{{ site.Params.project.repo.main }}" target="_blank">
			{{ partial "icon.html" "github" }}
		</a>
	</div>

	{{ with site.Menus.main }}
	<nav id="site-header-menu" aria-label="Main">
		{{ range . }}
			{{ if (urls.Parse .URL).IsAbs }}
			<a href="{{ .URL | absLangURL }}" rel="external" target="_blank">
				<span>{{ partial "icon.html" .Params.icon }}</span>
				{{ .Name }}
			</a>
			{{ else }}
			<a href="{{ .URL | absLangURL }}" {{ if or (eq $.Section .Identifier) (eq $.RelPermalink .URL) -}} class="active"{{ end }}>
				<span>{{ partial "icon.html" .Params.icon }}</span>
				{{ .Name }}
			</a>
			{{ end }}
		{{ end }}
	</nav>
	{{ end }}
</header>