#site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding_d2);
  text-align: center;
  flex-wrap: wrap;
  white-space: initial;
  padding: var(--padding_x2);
  color: var(--color-fade);
  fill: var(--color-fade);
}

#site-footer > a {
  background: var(--primary);
  color: var(--color-primary);

  border-radius: var(--radius);
  padding: 0 var(--padding_d2);
  cursor: pointer;
}

/* From Large Tablet */
@media (min-width: 1024px) {
  #site-footer {
    width: 75vw;
  }
}
