#site-header {
  display: grid;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding);

  grid-template-columns: 1fr auto;
  grid-template-areas:
    "logo actions"
    "nav search";
}

#site-header-logo { grid-area: logo; }
#site-header-actions { grid-area: actions; justify-self: end; }
#site-header > nav { grid-area: nav; }
#search-box { grid-area: search;  }

@media (min-width: 744px) {
  #site-header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav search actions";
  }

  #site-header > nav, #search-box {
    justify-self: end;
  }
}
