html {
  scroll-behavior: smooth;
  scroll-padding: 6em;
}

@media (1024px <= width <= 1279px) {
  html {
    scroll-padding: 8em;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  color: var(--color);
  background: var(--background);
  font-family: var(--font-sans);
}

#content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100svh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100svw;
}

main > article {
  display: flex;
  flex: 1;
  flex-direction: column;
}

body.model-open {
  overflow: hidden;
}

#off-canvas-model {
  display: none;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;

  background: var(--model-foreground);
  backdrop-filter: blur(var(--blur));
}

/* From Large Tablet */
@media (min-width: 1024px) {
  main {
    margin-top: 0;
    flex-direction: row;
  }

  main > article {
    width: 75vw;
    overflow-x: auto;
    margin-top: calc(var(--padding_x2) *1.2);
  }
}

/* From Desktop */
@media (min-width: 1280px) {
  body {
    flex-direction: row;
  }

  main {
    width: 80svw;
    padding: 0 var(--padding_x2);
  }

  main > article {
    width: 60vw;
    margin-top: 0;
  }

  #site-header {
    grid-template-columns: auto auto;
    grid-template-areas: "menu actions";
  }

  #site-header-logo {
    display: none;
  }

  #site-header-menu {
    justify-self: start;
    width: 60vw;
  }

  #article-nav {
    display: none;
  }

  #site-footer {
    width: 60vw;
  }

  #right-sidebar {
    width: 25%;
  }

  #article-header {
    padding: var(--padding_x2) var(--padding_x2) var(--padding);
  }
}
