html {
  scroll-behavior: smooth;
  scroll-padding: 2em;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  color: var(--color);
  background: var(--background);
  font-family: var(--font-sans);
}

#content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100svh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: calc(var(--padding_x2) * 2);
}

#site-footer {
  width: 100%;
}

main > section {
  scroll-snap-align: start;
}

/* typography */
main h2 {
  font-size: 2.5rem
}

main h3 {
  font-size: 1.4rem
}

main h4 {
  font-size: 1.1rem
}
