#left-sidebar {
  width: 85%;
  left: -85%;
  display: none;
  overflow-x: auto;
}

#left-sidebar.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 20;
  transition: .3s;

  animation: slide-in-left .3s forwards;

  background: var(--model-background);
  box-shadow: var(--model-box-shadow);
}

@keyframes slide-in-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* ---------- */

#left-sidebar > div {
  display: flex;
  padding: var(--padding);
  justify-content: flex-end;
}

#left-sidebar > a {
  display: none;
}

#left-sidebar > div .btn {
  font-size: .75em;
  font-weight: 800;
}

/* --- left sidebar --- */
#left-sidebar {
  position: sticky;
  top: 0;
}

#left-sidebar > nav {
  padding: 0 var(--padding);
  view-transition-name: section-nav;
}

#left-sidebar > nav > details {
  padding-bottom: 0;
}

#left-sidebar > nav > details[open] {
  padding-bottom: calc(var(--padding) * 1.5);
}

#left-sidebar > nav > details > summary {
  display: flex;
  padding: var(--padding) 0;
  color: var(--color);
  font-weight: bold;
}

#left-sidebar > nav > details[open] > summary {
  color: var(--color-fade);
}

#left-sidebar > nav > details > ul > li {
  margin: 0 var(--padding_d2);
  border-left: 1px solid var(--border-nav);
}

#left-sidebar > nav > details > ul > li > a {
  color: var(--color-nav);
  display: flex;
  cursor: pointer;
  padding: var(--padding_d2);
}

#left-sidebar > nav > details > ul > li > a::before {
  content: '';
  display: inline-block;
  background: var(--background);
  width: var(--padding_d2);
  height: var(--padding_d2);
  transform: rotate(45deg);
  border: 1px solid var(--border-nav);
  position: relative;
  left: calc((var(--padding) * -.78));
  top: 3px;
}

#left-sidebar > nav > details > ul > li > a.active {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  background: var(--primary);
  color: var(--color-primary);
}

#left-sidebar > nav > details > ul > li > a.active::before {
  left: calc((var(--padding) * -.76));

  background: var(--primary);
  border: var(--primary);
}

#left-sidebar > nav > details > ul > li > a:hover:not(.active) {
  background: var(--background-hover);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

/* Small Tablet */
@media (min-width: 744px) and (max-width: 1023px) {
  #left-sidebar {
    width: 50%;
    left: -50%;
  }
}

/* Large Tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  #left-sidebar {
    width: 33%;
    left: -33%;
  }
}

/* From Desktop */
@media (min-width: 1280px) {
  #left-sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100svh;

    background: var(--background-dim);
    border-right: 1px solid var(--border);
    overflow-x: auto;
  }

  #left-sidebar > div {
    display: none;
  }

  #left-sidebar > nav {
    overflow-x: auto;
  }

  #left-sidebar > a {
    display: flex;
    padding: var(--padding_d2);
  }
}