<div id="theme-dropdown" class="dropdown">
	<button class="dropdown-btn" aria-haspopup="menu" aria-label="Select the theme">
		<span>🎨</span>
		<span class="icon-select"></span>
	</button>
	<ul role="menu" class="dropdown-menu">
		{{ range index .Site.Data "themes" }}
		<li role="menuitem">
			<button title="{{ .name }}" class="color-scheme" data-value="{{ .value }}" style="background:{{ .background }};color:{{ .color }};">
				<span style="color:{{ .color }}">Aa</span>
			</button>
		</li>
		{{ end }}
	</ul>
</div>