select, ::picker(select) {
  appearance: base-select;
}

@supports not (appearance: base-select) {
  select {
    appearance: menulist;
    height: 2.4em;
    align-items: center;
  }
}

select {
  display: flex;
  padding: var(--padding_d2);
  gap: var(--padding_d2);

  background: var(--background-dim);
  backdrop-filter: blur(--blur);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius);

  color: var(--color-nav);
  fill: var(--color-nav);
  cursor: pointer;
}

select:hover, select:focus {
  background: var(--background-hover);
  color: var(--color-nav);
}

select::picker-icon {
  content:"⌵";
  font-size: .8rem;
}

select:open::picker-icon {
  rotate: 180deg;
  transition: 0.3s;
}

option {
  display: flex;
  justify-content: flex-start;
  padding: var(--padding_d2);
  background: var(--background-hover);
  border: 1px solid var(--border);
  gap: var(--padding_d2);
  transition: 0.6s;
  color: var(--color-nav);
}

option:first-of-type {
  border-radius: var(--radius) var(--radius)  0 0;
}

option:last-of-type {
  border-radius: 0 0 var(--radius) var(--radius) ;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(even) {
  background: var(--background-subtle);
}

option:hover, option:focus {
  background: var(--background-hover);
}

option .icon {
  text-box: trim-both cap alphabetic;
}

selectedcontent .icon {
  display: none;
}

option:checked {
  background: var(--background-subtle_embed);
}

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "✅ ";
}

::picker(select) {
  border: none;
  border-radius: var(--radius);
  top: calc(anchor(bottom) + 1px);
  left: calc(-1*var(--padding));

  opacity: 0;
  transition: all 0.2s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
