<section class="card-grid-section">
	<header class="card-grid-header">
		<h2>{{ .header.title }}</h2>
		<p>{{ .header.description }}</p>
	</header>

	<div class="card-grid-body">

		{{ range .items }}
		<div class="card-grid-card">
			<header>
				<span>{{ partial "icon.html" .icon }}</span>
				<h3>{{ .title }}</h3>
			</header>
			<p>{{ .description | markdownify }}</p>
			<footer>
				<a class="btn" href="{{ .link.url }}" {{ if (urls.Parse .link.url).IsAbs }}rel="external" target="_blank"{{end}}>
					{{ .link.label }}
				</a>
			</footer>
		</div>
		{{ end }}

	</div>
</section>