{{ if $.Site.Menus.main }}

<nav role="navigation">
	<select onchange="if (this.value) window.location.href=this.value">
		<button>
			<selectedcontent></selectedcontent>
		</button>
		{{ $section := .Section }}
		{{ $currentURL := .RelPermalink }}
		{{ range $.Site.Menus.main }}
		<option value="{{ .URL | absLangURL }}" {{ if or (eq $section .Identifier) (eq $currentURL .URL) -}}selected{{ end }}>
			<span aria-hidden="">{{.Pre}}</span>
			<span>{{ .Name }}</span>
		</option>
		{{ end }}
	</select>
</nav>

{{ end }}