<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description | .RenderString }}">
  <meta name="author" content="{{ .Site.Params.author.name }}">
  <meta name="theme-color" content="{{ .Site.Params.project.themeColor.light }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="{{ .Site.Params.project.themeColor.dark }}" media="(prefers-color-scheme: dark)">
  {{ with .Params.robots -}}
  <meta name="robots" content="{{ . }}">
  {{- end }}

  <title>{{ .Site.Title | .RenderString }} · {{ .Site.Params.description | .RenderString }}</title>
  <link rel="canonical" href="{{ .Permalink }}">

  {{- $css := slice (resources.Get "css/reset.css") (resources.Get "css/theme.css") (resources.Get "css/_btn.css") (resources.Get "css/home.css") | resources.Concat "assets/css/home.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.integrity }}">

  {{ partial "favicons.html" . }}
  {{ partial "analytics.html" . }}
</head>

<body>

<div id="content-wrapper">
  <header>
    <a href="{{ .Site.Home.Permalink }}" class="site-logo">{{ .Site.Title }}</a>
  </header>

  <main>
    <section>
      <div>
        <header>
          <h1>{{ .Site.Params.home.heading }}{{ with .Site.Params.home.headingSegment2 }}<span>{{.}}</span>{{ end }}</h1>
          <p>{{ .Site.Params.home.description }}</p>
        </header>
        <div>
          <a href="{{ .Site.Home.Permalink }}{{ .Site.Params.home.getStartedPath }}" class="btn">{{ i18n "getStarted" }}</a>
          <a href="https://github.com/{{ .Site.Params.project.github.repo }}" target="_blank" class="btn">GitHub</a>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div><i>🧑‍💻</i>{{ i18n "builtByAndCopyright" }}<a href="{{ .Site.Params.author.url }}" target="_blank">{{ .Site.Params.author.name }}</a><i>📅</i> {{ with .Site.Params.project.startYear }}{{.}}-{{ end }}{{ .Site.Params.project.presentYear }}<i>🚀</i> <a href="https://github.com/{{ .Site.Params.project.github.repo }}" target="_blank">GitHub</a></div>
    <div>
      <button class="btn"><i>☀️</i><i>⁄</i><i>🌑</i></button>
    </div>
  </footer>
</div>

<div id="body-model-outer"></div>

{{- $js := slice (resources.Get "js/color-preference.js") | resources.Concat "assets/js/home.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.integrity }}"></script>
</body>
</html>