<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Page.Params.description | default .Site.Params.description | .RenderString }}">
  <meta name="author" content="{{ .Site.Params.author.name }}">
  <meta name="theme-color" content="{{ .Site.Params.project.themeColor.light }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="{{ .Site.Params.project.themeColor.dark }}" media="(prefers-color-scheme: dark)">
  {{ with .Params.robots }}
  <meta name="robots" content="{{ . }}">
  {{ end }}

  <title>{{ .Title | .RenderString }} · {{ .Site.Title | .RenderString }}</title>
  <link rel="canonical" href="{{ .Permalink }}">

  {{ $cssFiles := slice
		(resources.Get "css/reset.css")
		(resources.Get "css/theme.css")
		(resources.Get "css/components/button.css")
		(resources.Get "css/components/select.css")
		(resources.Get "css/components/chroma.css")
		(resources.Get "css/site/header.css")
		(resources.Get "css/site/footer.css")
		(resources.Get "css/site/sidebar-right.css")
		(resources.Get "css/main-content/article.css")
	}}

	{{ if index .Site.Data .Site.Language.Lang .Section "sidebar" }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/site/sidebar-left.css") (resources.Get "css/site/layout-column-2.css") }}
	{{ else }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/site/layout-column-1.css") }}
	{{ end }}

	{{ $css := $cssFiles | resources.Concat (printf "css/%s.css" .Type) | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.integrity }}">

  {{ partial "favicons.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "og-x-seo.html" . }}
</head>

<body>
	{{ with index .Site.Data .Site.Language.Lang .Section "sidebar" }}
		{{ partial "site/left-sidebar.html" . }}
	{{ end }}

  <div id="content-wrapper">
		{{ partial "site/header.html" . }}
		{{ partial "menu-main.html" . }}

    <main>
      <article>
				{{ partial "main-content/nav.html" . }}
				{{ partial "main-content/cover.html" . }}

        <header id="article-header">
          <h1 style="view-transition-name: {{ .RelPermalink | anchorize }}">{{ .Title | .RenderString }}</h1>
					{{ with .Params.summary }}
					<p>{{ . | $.RenderString }}</p>
					{{ end }}
				</header>

				<div id="article-body">
					{{ .Content | safeHTML }}
				</div>

				{{ partial "main-content/footer.html" . }}
			</article>

			{{ partial "site/right-sidebar.html" . }}
		</main>

		{{ partial "site/footer.html" . }}
	</div>

	<div id="body-model-outer"></div>

	{{ $js := slice (resources.Get "js/color-preference.js") (resources.Get "js/off-canvas.js") (resources.Get "js/table-of-contents.js") | resources.Concat (printf "assets/js/%s.js" .Type) | minify | fingerprint }}
	<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.integrity }}"></script>
</body>
</html>