<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Page.Params.description | default site.Params.description | .RenderString }}">
  <meta name="author" content="{{ site.Params.author.name }}">
  <meta name="theme-color" content="{{ site.Params.project.themeColor.light }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="{{ site.Params.project.themeColor.dark }}" media="(prefers-color-scheme: dark)">
  {{ with .Params.robots }}
  <meta name="robots" content="{{ . }}">
  {{ end }}

  <title>{{ .Title | .RenderString }} · {{ site.Title | .RenderString }}</title>
  <link rel="canonical" href="{{ .Permalink }}">

  {{ $cssFiles := slice
		(resources.Get "css/reset.css")
		(resources.Get "css/theme.css")
		(resources.Get "css/components/alert.css")
		(resources.Get "css/components/button.css")
		(resources.Get "css/components/dropdown.css")
		(resources.Get "css/components/checkbox.css")
		(resources.Get "css/components/code-window.css")
		(resources.Get "css/components/chroma.css")
		(resources.Get "css/components/tabs.css")
		(resources.Get "css/components/accordion-vertical-tabs.css")
		(resources.Get "css/site/header.css")
		(resources.Get "css/site/footer.css")
		(resources.Get "css/site/sidebar-right.css")
		(resources.Get "css/main-content/article.css")
	}}

	{{ if index site.Data site.Language.Lang .Section "sidebar" }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/site/sidebar-left.css") (resources.Get "css/site/layout-column-2.css") }}
	{{ else }}
		{{ $cssFiles = $cssFiles | append (resources.Get "css/site/layout-column-1.css") }}
	{{ end }}

	{{ $css := $cssFiles | resources.Concat (printf "assets/css/%s.css" .Type) | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.integrity }}">

	{{ with site.Params.enablePageFind }}
	<pagefind-config bundle-path="/E25DX/pagefind/"></pagefind-config>
	<link href="{{ "pagefind/pagefind-component-ui.css" | absURL }}" rel="stylesheet">
	{{ end }}

  {{ partial "favicons.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "og-x-seo.html" . }}
</head>

<body>
	{{ with index site.Data site.Language.Lang .Section "sidebar" }}
		{{ partial "site/left-sidebar.html" . }}
	{{ end }}

  <div id="content-wrapper">
		{{ partial "site/header.html" . }}

    <main>
      <article>
				{{ partial "main-content/nav.html" . }}
				{{ partial "main-content/cover.html" . }}

        <header id="article-header">
          <h1 style="view-transition-name: {{ .RelPermalink | anchorize }}">{{ .Title | .RenderString }}</h1>
					{{ with .Params.summary }}
					<p>{{ . | $.RenderString }}</p>
					{{ end }}
				</header>

				<div id="article-body">
					{{ .Content | safeHTML }}
				</div>

				{{ partial "main-content/footer.html" . }}
			</article>

			{{ partial "site/right-sidebar.html" . }}
		</main>

		{{ partial "site/footer.html" . }}
	</div>

	<div id="off-canvas-model"></div>

	{{ $js := slice
		(resources.Get "js/components/dropdown.js")
		(resources.Get "js/site/color-preference.js")
		(resources.Get "js/site/off-canvas.js")
		(resources.Get "js/site/table-of-contents.js")
	| resources.Concat (printf "assets/js/%s.js" .Type) | minify | fingerprint }}
	<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.integrity }}"></script>

	{{ with site.Params.enablePageFind }}
	<script src="{{ "pagefind/pagefind-component-ui.js" | absURL }}" type="module"></script>
	{{ end }}
</body>
</html>